/* .THIS .slds-progress-bar__value{
	background: var(--lwc-progressBarColorBackgroundFill,green);
    background: lightgreen;
} */

/* .charterCustomStepborder{
    border: 1px solid rgb(255,255,255);
} */

.charterErrorIcon button{
    display: none;
}