div ul li:hover {

    background: ghostwhite;

}

 

.mainCartPage{

    background: white;

}

 

.viewRecordLink{

    cursor: pointer;

}

 

.errMsgSpace{

    margin-left: 9px;

}

.exampleHolder{
    position: relative;
    display: inline-block;
    margin-left: 15px;
    width: 55px;
    vertical-align: middle;
    white-space: nowrap;
}